:root {
  --black-bg: #252525;
  --text-color: #FFF;
  --green-text: #99D930;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
}

/* typography */

h1,
h2 {
  font-weight: inherit;
  margin-top: 0;;
}

h1 {
  font-size: 60px;
}

h2 {
  padding: 25px 0;
  font-size: 42px;
  border-top: 1px  solid #c4c4c4;
  border-bottom: 1px  solid #c4c4c4;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.small {
  font-size: 16px;
  margin-top: 8px;
}

.text-callout {
  display: block;
}

h1 .text-callout {
  font-size: 80px;
}

h2 .text-callout {
  font-size: 60px;
}

a {
  color: #99D930;
}

a:hover{
  color: #131313;
}

.second-section a:hover{
  background-color: #fff;
  color: #252525;
}

.text-callout, .name, time {
  color: var(--green-text);
  font-weight: 900;
}

/* container */

.container {
  width: 570px;
  margin: 0 auto;
}

header {
  background-color: #D7D7D7;
  padding: 100px 0;
}

.first-section {
  background-color: #FFEAEA;
  padding: 100px 0;
}

.second-section {
  background-color: #EAF9FF;
  padding: 100px 0;
}

.theme {
  color: var(--text-color);
  background-color: var(--black-bg);
}

.link-bttn{
  color: #252525;
  background-color: #99D930;
  font-weight: 900;
  padding: 10px 20px;
  display: inline-block;
  margin: 30px 0;
  text-decoration: none;
}

.link-bttn:hover,
.link-bttn:focus {
  color: #fff;
  background: #252525;
}